<%- include("includes/header", {title:"Add Task", stylesheet:"/css/new.css"}) %>
<body>
  <div class="wrapper">
    <a href="javascript:history.back()" class="back-btn">
      <i class="fa-solid fa-arrow-left"></i> Back
    </a>

    <div class="form-container">
      <h1>Add a New Task</h1>
      <form method="post" action="/home">
        <input
          type="text"
          name="task"
          placeholder="Enter your task..."
          required
        />
        <div class="button-container">
          <button type="submit">
            <i class="fa-solid fa-plus"></i>&nbsp; Add Task
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
